/* header-area */
.header-section {
	overflow: hidden;
	position: relative;
}
.header-section .main-menu {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 20px;
	width: 100%;
}
.header-section .logo-section {
	display: none;
}
.header-section .header-image img {
	width: 100%;
	height: auto;
}
.main-menu ul li {
	margin: 0 21px;
}
.main-menu ul li a {
	text-transform: uppercase;
	color: #4d4959;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: 1.5px;
}

/* descriptin-section */
.section {
	overflow: hidden;
}
.intro-section {
	background-color: #f7f7f7;
	padding: 100px 0;
}
.section .icon {
	width: 50px;
	height: 42px;
}
.section h2 {
	color: #353738;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 17px;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 3em;
}
.section .content {
	display: block;
	width: 80%;
	margin: 0 auto;
	font-size: 15px;
	line-height: 1.4em;
}
.section p {
	color: #848789;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.big-small {
	max-height: 485px;
	overflow: hidden;
	position: relative;
}
.section-logo {
	position: absolute;
	z-index: 9999;
	top: 50%;
	left: 50%;
	margin-top: -59px;
	margin-left: -55px
}
.section-logo img {
	display: block;
	width: 118px;
	height: 110;
	height: auto;
}
.small-big {
	max-height: 485px;
	overflow: hidden;
}
.big-small-big {
	max-height: 485px;
	overflow: hidden;
}
.big img,
.small-image img {
	width: 100%;
	height: auto;
}
.section .big,
.section .small {
	padding-left: 0;
	padding-right: 0;
}
.small-image-1 {
	background: url(images/vintage-bike-small.jpg) no-repeat;
	background-size: 100% auto;
	min-height: 159px;
	background-position: bottom left;
}
.small-image-2 {
	background: url(images/blackseat.jpg) no-repeat;
	background-size: 100% auto;
	min-height: 159px;
	background-position: bottom left;
}
.small-image-3 {
	background: url(images/wheel.jpg) no-repeat;
	background-size: 100% auto;
	min-height: 159px;
	background-position: bottom left;
}
.small-image {
	position: relative;
}
.small-image:before {
	content: ' ';
	height: 0;
	width: 0;
	border-top: 10px solid #FFFFFF;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	position: absolute;
	top: 1px;
	left: 50%;
}

.small-des {
	padding: 4px 0 20px;
}
.small-des hr {
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	border-top: 1px solid #cccccc;
	width: 50px;
}


/* tweet-section */
.tweet-section {
	background-color: #F7F7F7;
	padding: 100px 0;
}
.tweet-section .tweet-icon {
	color: #56c7ee;
	font-size: 26px;
}
.tweet-section h2 {
	font-family: 'Lato' , sans-serif;
	font-size: 16px;
	font-weight: 700;
}
.tweet-section h2 span {
	font-size: 14px;
	color: #cccccc;
	margin-left: 10px;
	letter-spacing: 3px;
}
.tweet-section p {
	font-size: 18px;
	font-style: italic;
}


/* portfolio-section */
.section-area-6 .photo-gallery {
	overflow: hidden;
}
.photo-gallery .left-part {
	padding-right: 0;
}
.photo-gallery .left-part .photo-up {
	overflow: hidden;
}
.photo-gallery .left-part .photo-1 {
	width: 50%;
	float: left;
}
.photo-gallery .left-part .photo-1 img {
	 width:"100%";
	 height:"100%";
}
.photo-gallery .left-part .photo-2 {
	overflow: hidden;
}
.photo-gallery .left-part .photo-2 img {
	 width:"100%";
	 height:"100%";
}
.photo-gallery .left-part .photo-down img {
	 width:"100%";
	 height:"100%";
}
.photo-gallery .mid-part {
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
}
.photo-gallery .mid-part .photo-4 {
	width: 50%;
	float: left;
}
.photo-gallery .mid-part .photo-4 img {
	 width:"100%";
	 height:"100%";
}
.photo-gallery .mid-part .photo-5 {
	overflow: hidden;
	background-color: #b0b5c8;
}
.photo-gallery .mid-part .photo-5 img {
	width:"100%";
	 height:"100%";
}
.photo-gallery .right-part {
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}
.photo-gallery .right-part .up-side .shop {
	width:"100%";
	height:"100%";
	position: relative;
}
.photo-gallery .right-part .up-side .logo {
	position: absolute;
	left: 165px;
	top: 80px;
	width: 80px;
	height: auto;
	z-index: 9999;
}
.photo-gallery .right-part .down-side {
	overflow: hidden;
}
.photo-gallery .right-part .down-side .ds-left {
	width: 50%;
	float: left;
}
.photo-gallery .right-part .down-side .ds-left img {
	width:"100%";
	height:"100%";
}
.photo-gallery .right-part .down-side .ds-right {
	overflow: hidden;
}
.photo-gallery .right-part .down-side .ds-right img {
	width:"100%";
	height:"100%";
}


/* ***** section-area-7 ***** */
.section-area-7 {
	background-color: #282f35;
	padding: 70px 0;
}
.section-area-7 .link a {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.07em;
	text-decoration: none;
	border: 1px solid #FFFFFF;
	padding: 10px 50px;
	transition: 0.25s
}
.section-area-7 .link a:hover {
	background-color: #FFFFFF;
	color:  #282f35;
	transition: 0.25s
}

/* ***** section-area-8 ***** */
.section-area-8 {
	padding: 80px 0;
}
.section-area-8 .logo-area img {
	width: 80px;
	height: auto;
	margin-bottom: 20px;
}
.section-area-8 .logo-area p {
	color: #848789;
	font-size: 16px;
}

.section-area-8 .email-area {
	margin-top: 25px;
}
.section-area-8 .email-area input[type=email] {
	border: 1px solid #d3d7d9;
	color: #c8c8c8;
	padding: 14px 120px 14px 16px;
}
.section-area-8 .email-area input[type=submit] {
	padding: 14px 25px;
	background-color: #64c29e;
	color: #FFFFFF;
	border: 1px solid transparent;
	transition: 0.25s;
}
.section-area-8 .email-area input[type=submit]:hover {
	background-color: #71dbb2;
	transition: 0.25s;
}


/* footer-area */
.footer-area {
	background-color: #f7f7f7;
	color: #848789;
	padding: 30px 0;
}
.footer-area .row {
	width: 80%;
	margin: auto;
	margin-top: 30px;
}
.footer-area .social-icons {
	font-size: 24px;
	margin-top: 10px;
}
.social-icons .twitter a {
	color: #78cdf0;
}
.social-icons .twitter a:hover {
	color: #37baf0;
}
.social-icons .pinterest a {
	color: #eb5755;
}
.social-icons .pinterest a:hover {
	color: #eb3432;
}
.social-icons .signature .text{
	margin-top: 30px;
}
.social-icons .signature img {
	width: 60px;
	height: auto;
}


